body {
    background-color: black;
}
div#myBoard, div#enemyBoard {
    position: relative;
    width: 512px;
    height: 462px;
    margin: auto;
    background: url("board.jpg") no-repeat;
    background-size: contain;
}
div#messageArea {
    position: absolute;
    top: 0px;
    left: 0px;
    color: rgb(51,204,51);
}
.hit {
    background: url("ship.png") no-repeat center center;
    background-size: contain;
}
.miss {
    background: url("miss.png") no-repeat center center;
    background-size: contain;
}
table {
    border-spacing: 0px;
    position: absolute;
    left: 86px;
    top: 50px;
}
td {
    width: 46px;
    height: 46px;
}
form {
    position: absolute;
    padding: 15px;
    background-color: rgb(51,204,51);
}
form#formShip {
    top: 0px;
    Left: 0px;
}
form#formFire {
    bottom: 0px;
    right: 0px;
}
form input {
    background-color: rgb(153,255,51);
    border-color: rgb(51,204,51);
    font-size: 1em;
}